body {
    background: #333;
    color: #FFF;
    margin-right: 0px;
    height: 100%;
    min-height: 600px;
}

#fullContainer {
    height: 100%;
    width: 100%;
}

#challengeExitRequest {
    /*background: -webkit-linear-gradient(left top,
    #AFA 20px,
    #FFF 30px,
    #AFA 40px);*/
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    transition:opacity 1s linear;
    opacity: 0;
    visibility: hidden;
}

.inactive #challengeExitRequest {
    visibility: inherit;
    opacity: 100;
    transition:opacity 1s linear;
}

.inactive #exitChallengeButton {
    border-radius: 5px;
    border-color: deepskyblue;
}

.fancyTitle {
    font-family: cursive;
    font-size: 1.3em;
}

html, body {
    height:100%; /* apparently necessary because css sucks (for collapsible http://stackoverflow.com/questions/1122381/how-to-force-child-div-to-100-of-parents-div-without-specifying-parents-heigh)*/
}

.inactive #submitCode {
    border-color: #000;
    opacity: .4;
}

#ideContainer {
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.CodeMirror {
    flex-grow: 1;
    flex-direction: column;
}


.hidden {
    display: none;
}

#descriptionBox {
    width: 100%;
    height: 66px;
}

#logBox {
    width: 100%;
    overflow: scroll;
    height:100%;
}

#footer {
    height: 20%;
    width: 100%;
}

#rightHalf {
    border: 3px inset;
    box-sizing: border-box;
    padding: 0px;
    height: 100%;
}
#topHalf {
    height: 100%;
}

#leftHalf {
    float: left;
    /*border: 1px inset;*/
    height:100%;
    width: 300px;
    padding: 4px;
}

#innerLeftHalf {
    margin-right:15px;
}

#centerPanel {
    float: none;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#rightPanel {
    width: 400px;
    float: right;
    height: 100%;
    min-height:600px;
    transition: width .05s ease-in 0s;
}

.aTest input[type="text"] {
    background: rgba(255,255,255,.05);
}

.aTest {
    text-overflow: ellipsis;
    background-color: #666;
    color:#EEE;
    -webkit-transition: all 1s ease-in;
    transition: background-color .5s;
    border-width: 1px;
    border-bottom: 2px solid #555;
}

input[type=button] {
    transition: background-color .15s;
    border-radius: 3px;
    background: #333;
    color: #ddd;
    text-shadow: 2px 2px 2px #000;
    margin: 2px;
    border-color: lightslategray;
}

.collapsed#rightPanel {
    width: 40px;
}

.collapsed#leftHalf {
    width: 40px;
    overflow: hidden;
}

.testParams {
    width: 130px;
    margin: 4px;
    text-overflow: ellipsis;
}

.testExpected {
    width: 60px;
    margin-left: 4px;
    margin-right: 0px;
    text-align: center;
    text-overflow: ellipsis;
}

.collapsible {
    min-height:100%;
    height: 100%;
    width:1px;
    background: #000;
    border-left: 3px solid #666;
    border-right: 3px solid #BBB;
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    display:inline-block;
    cursor: e-resize;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.collapsible.collapsedRight {
    cursor: w-resize;
}

.stepControls table{
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
}
.stepControls td {
    border: 2px solid #333;
    border-bottom: 0px;
    border-left: #666 1px solid;
    border-right: #222 1px solid;
    text-align: center;
}

.fl {
    float:left;
}

.testFailed {
    border: 2px solid #F99;
}

.testParamsFailed {
    border-color: #F99;
}

.testParamsFailed[title] {
    content: "YES"
}

.testPassed {
    border: 2px solid #9F9;
}

.testFuncName {
    width: 100px;
    margin: 1px;
    text-overflow: ellipsis;
    text-align: right;
    padding-right: 5px;

}

.clickable, .tab {
    border: 1px outset lightslategray;
    cursor: pointer;
}

.deleteButton {
    border: 1px outset lightslategray;
    box-sizing: content-box;
    cursor: pointer;
    vertical-align: top;
    float: right;
    content: '×';
    line-height: 3px;
    width: 8px;
    height: 3px;
    padding: 6px 3px;
    background-color: #333;
}

.challengeStep {
    background: #444;
    border: 4px solid #000;
    border-color: #888 #333 #222 #555;
    display: block;
    margin-right: 5px;
}

.stepDescription {
    padding: 3px 15px;
}

#challengeDescription {
    text-align: center;
    font-size: 1.2em;
}

.challengeStep.active {
    background: #666;
}

.challengeStep.future {
    opacity: .135;
    text-align: center;
}

.challengeInfo:first-child {
    margin-left:15px;
}

.challengeInfo {
    margin-left:55px;
    font-size: 1.1em;
    font-family: lucida;
    font-weight: bold;
}

.challengeValue {
    font-weight: normal;
    font-size: .8em;
    font-family: lucida;
    color: #EAFFFF;
}

.challengeStep.active:first-letter {
    font-size: 40px;
    color: #EFE;
    font-family: lucida;
}

#gameHeader {
    height: 60px;
}
/**
Credit to http://css-tricks.com/examples/PopFromTopMessage/
*/

#noteBox {
    position: absolute; /**/
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    text-align: center;
    height: 0px; /* allow overflow, but prevent this box from blocking clicks off to the side */
}

.slideDownNote {
    margin: 0 auto;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    min-height: 30px;
    min-width: 600px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    display: inline-block;
}

.slideDownNoteContainer {
    position: relative;
    pointer-events: none;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}


.key_icon {
    height: 20px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.past.stepDescription{
    overflow-y: hidden;
    max-height: 40px;
    text-overflow: ellipsis;
    cursor: ns-resize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.past.stepDescription.expanded {
    max-height: inherit;
    -webkit-line-clamp: 20;
}

.past.viewButton {
    visibility: visible;
}

.viewButton {
    visibility: hidden;
}

#modalLoadDialog {
    width: 900px;
    margin-left: -450px;

}

#loadDialogTitle {
    color: #000;
    text-align: center;
}

#loadDialogBody {
    max-height:800px;
    color: #000;
    background-color: #888;
}

#loadDialogTable {
    width: 200px;
    min-height: 200px;
    border-color: #FFF;
}

#loadDialogTable td {
    text-align: center;
}

#loadDialogTable :nth-child(1) {
    width: 385px;
}
#loadDialogTable :nth-child(2) {
    width: 100px;
}
#loadDialogTable :nth-child(3) {
    width: 145px;
}
#loadDialogTable :nth-child(4) {
    width: 100px;
}
#loadDialogTable :nth-child(5) {
    width: 130px;
}
#loadDialogTable :nth-child(6) {
    width: 40px;
}

.tabsContainer {
    border-bottom: 10px #666 solid;
    margin-top: 5px;
    min-height:15px;
}

.tab {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: 4px;
    padding: 5px 5px 1px 5px;
    color: #DDD;
    text-align: center;

}

.tab.selected {
    background-color: #666;
    padding-bottom: 2px;
    border-bottom: none;
    border-right: 1px solid #777;
    border-left: 1px solid #BBB;
    border-top: 1px solid #999;
    color: #fff;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inlineEditIcon {
    content:url('img/pencil.png');
    width: 14px;
    height: 14px;
}

.click-to-edit.locked .inlineEditIcon {
   content: url('img/lock.png');
    width: 16px;
    height: 16px;
}

.inlineEditSaveIcon {
    content:url('img/check-mark-16.png');
}

.inlineEditCancelIcon {
    content:url('img/x-mark-16.png');
}

.errorsIcon {
    content:url('img/x-mark-16.png');
    top: 3px;
    position: relative;
}

.allGood {
    content:url('img/check-mark-16.png');
}

.click-to-edit {
    white-space:nowrap;
    white-space:nowrap;
    border-bottom: 1px solid #EEEEEE;
}

.click-to-edit-textbox {
    line-height: 10px;
    overflow: visible;
    background: #eee;
    line-height: 15px;
    border: 0;
    border-bottom: 1px dotted #888;
    color: #333;
    margin-top: -3px;
    min-width: 15px;
}

.ui-jqgrid-bdiv {
    max-height: 300px;
}

.centeredTextOverlayContainer {
    position: absolute;
    width: 100%;
    z-index: 10;
}

#myScoringPiece {
    display: none;
}

.textOverlay {
    margin-right: auto;
    z-index: 10;
    margin-left: auto;
    overflow: hidden;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 5px;
    width: 750px;
    opacity: 1;
    height: 100%;
    background-color: #FFF;
    background-position: initial initial;
    background-repeat: initial initial;
    color: #111;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 30px;
}

.choiceOfChallenge {
    width:100%;
    border: 2px outset;
    min-height: 80px;
    cursor: pointer;
    border-radius: 10px;
    border: 3px outset #BBB;
    padding: 15px;
}

.rating {
    /*background: #DDD;*/
    border-radius: 3px;
    border-color: #000 #BBB #777;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding-bottom: 2px;

    line-height: 16px;
}

.recommendedChallenge {
    border: 5px solid outset;
    border-color: #009900;
}

.challengeRecommendedLabel {
    font-size: 20px;
    color: #007700;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}

.choiceOfChallenge:hover {
    border: 3px outset #888;
    background: #EEFFEE;
}

.challengeDetails {
    float: right;
    width: 150px;
}

.pastScore {
    float: right;
    width: 150px;

}

.whatIs {
    float: right;
    text-align: right;
}

.overflow {
    overflow: auto;
}

/* have no idea why the grid needs this modification */
.jqgfirstrow {
    display: none;
}

.test {
    float: left;
}
